* {
    margin: 0;
    padding: 0;
}
/* navbar */
nav{
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
    background-color: #fff;
}
nav ul{
    display: flex;
    width: 50%;
    justify-content: space-around;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #212;
    font-weight: 600;
}
/* Container */
.container{
    max-width: 1920px;
    background-color: #fff;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
}
/* Content1 */
.co1 h4{
    font-size: 20px;
    font-weight: 600;
    color: #646464;
}
.co1 h1{
    font-size: 72px;
    font-weight: 600;
    color: #212121;
}
.co1 p{
    font-size: 18px;
    font-weight: 400;
    color: #646464;
}
.green1{
    background-color: #37806B;
    border-radius: 15px 0;
    width: 100px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.green1 p{
    color: #fff;
    font-weight: 700;
}
/* Responsive */
@media(min-width: 1000px){
    nav{
        display: flex;
        justify-content: space-between;
    }
    /* content1 */
    
}